{% extends 'mailing/base.html' %}

{% block content %}


<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2>{{ mailing }}</h2>
            <p class="lead">Периодичность: {{ mailing.frequency }}</p>
            <p class="lead">Статус: {{ mailing.status }}</p>
            <p class="lead">Пользователь: {{ mailing.user }}</p>
            <p class="lead">Сообщение: {{ mailing.message }}</p>
        </div>
    </div>
</div>
<div>
    <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary my-3"
       style="background: #0062cc">Назад</a>
    <a href="{% url 'mailing:mailing_update' mailing.pk %}" class="btn btn-secondary my-3"
       style="background: #0062cc">Изменить</a>
    <a href="{% url 'mailing:mailing_delete' mailing.pk %}" class="btn btn-secondary my-3"
       style="background: #0062cc">Удалить</a>
</div>
{% endblock %}